*{

     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


#navbar img{
background-color: ;
width: 100;
height: 60px;
display: flex;
justify-content: left;




}


#navbar img :hover{

       transform: rotate(45deg);









}




#navbar{

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(bg\ main.jpeg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0px;
    z-index: 999;

}


#navbar img{

width: 150px;
}



#navbar nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  text-decoration: dashed;
  color: black;
}





#navbar nav ul li a {


  display: flex;
  align-items: center;
  justify-content: center;
  
text-decoration: none;
/* color: ; */

text-transform: uppercase;
color: black;

transition: all ease 0.4s;
}


#navbar nav ul li :hover{

  color: black;
  
  transform: scale(1.2);



}


#navbar .call{
  

  
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2px;
  background-color: rgb(169, 131, 104);
  width: 200px;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  gap: 10px;
  transition: all ease 0.4s;


}

#navbar .call :hover{

           color: aqua;
           transform: scale(1.08);






}  

#navbar .icon{

      display: flex;
      align-items: center;
      
      
      gap: 20px;

}

#navbar .icon :hover{

    color: black;
    transform: scale(1.2);

}


         


/*==================================First Page===========================*/


#First-Page{

  background: none;

  width: 100%;
  height: 107vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Gemini_Generated_Image_yg0du9yg0du9yg0d.png);

  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  filter: blur(4px);
  
  

}




#First-Page h1{

     font-size: 110px;
     text-transform: uppercase;
     font-family: Arial, Helvetica, sans-serif;
     z-index: 2;
     

}





#First-Page img{
    position: absolute;
    top: 60px;
    z-index: 1;
    /* background-image: url(bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
     */
}


#searchbar{
  
  position: absolute;
  left: 45%;
  top: 250px;
  
  height: 50px;
  width: 90%;
  border: 1px;
  padding: 15px;
  overflow: hidden;
}

.searchbar{

  height: 200px;
  width: 200px;
}


}
/*========================================Second page starts here====================================/*



s
  /* position: ; */
 
 
 #Second-Page{
  width: 100%;
  height: 100vh;
  margin: 1px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content:center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  /* z-index: -2; */
}

   #Second-Page .button {
    
    width: 30%;
    height: 25vh;
   display: flex;
   justify-content: center;
   text-align:center;
   gap: 100px;
   align-items:baseline;
   /* z-index: 1000; */
   color: darksalmon;
   transition: all ease 0.3s;

   }

      #Second-Page .button  button{
          width: 250px;
         padding: 20px 20px;
         background-color: orange;
         color: white;
      }




#searchbar .search{

  height: 20px;
  width: 20px;
}




   /* ===============================third page starts here===================================== */

   .Places{
          
           
          font: size 20px;;
          margin-bottom: 40px;  


           height: 100vh;
           width: 100%;
           color: #fff;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
        

   }

   /* .Places-grid{ */



    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;

   }
   

  #third-page img{

height: 15vh;
    width: 25%;
    display: grid;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;

    overflow: scroll;
  }

.destination-items{

 height: 35vh;
 width: 40%;
 display:grid;
 grid-template-columns: repeat(8,300px);
 /* overflow: scroll; */
 gap: 20px;
 flex-wrap: wrap;


}




    



  /* background-color: brown; */








