.container div{
     width: 100%; 
     min-height: 100vh;
     background-size: cover;
     background-position: center;
     padding: 10px 8%;
     
}

#nav{  

  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

}